@import "tailwindcss";

body {
  background: #0a0a0a;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow-y: hidden;
}

body::before {
  content: "";
  background: url("../public/background.png") no-repeat center center/cover;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  filter: blur(8px) brightness(0.1);
}

html { 
  height: 100vh;
}